.container-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-home h1{
    font-weight: 900;
    font-style: italic;
    font-size: 65px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Vollkorn', serif;
}

.todos-home{
    width: 100%;
}